  <form action="/names" method="post">
    <img src="select.gif" />
    <h2>Player 1: Select your fighter name</h2>
    <input type="text" name="player1">
    <h2>Player 2: Select your fighter name</h2>
    <input type="text" name="player2">
    <input type="submit" value="Submit">
  </form>
